/* Style inputs with type="text", select elements */
input[type=text], select {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
button[type=submit] {
  width: 100%; /* Full width */
  padding: 10px; /* Add padding */
  background-color: #4CAF50; /* Green background color */
  color: white; /* White text color */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded borders */
  cursor: pointer; /* Add pointer cursor on hover */
}

/* Style form submit button on hover */
button[type=submit]:hover {
  background-color: #45a049; /* Darker green background color */
}

/* Style output message */
.output {
  text-align: center;
  margin-top: 20px; /* Add top margin */
  font-weight: bold;
  color: red; /* Red text color */
}

/* Add a background color and some padding around the form */
.login {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Style the h1 element */
h1 {
  text-align: center;
  color: #333; /* Dark gray color */
  font-size: 28px; /* Larger font size */
  margin-bottom: 20px; /* Add some bottom margin */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add shadow effect */
  padding-bottom: 10px; /* Add padding bottom */
  border-bottom: 2px solid #ccc; /* Add border bottom */
}
