asttokens
blinker
catboost
click
colorama
comm
contourpy
cycler
debugpy
decorator
executing
Flask
fonttools
graphviz
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
pillow
platformdirs
plotly
prompt-toolkit
psutil
pure-eval
Pygments
pyparsing
python-dateutil
pytz
pywin32
pyzmq
scikit-learn
scipy
seaborn
six
stack-data
tenacity
threadpoolctl
tornado
traitlets
tzdata
wcwidth
Werkzeug
xgboost